<a href="https://colab.research.google.com/github/janvinimje03-byte/Data-Structure-/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_list = [1,2,9,4]
print(my_list)

[1, 2, 9, 4]

In [3]:
print(type(my_list))

<class 'list'>

In [4]:
my_list2 = list(range(-4,10,2))
print(my_list2)

[-4, -2, 0, 2, 4, 6, 8]

In [5]:
print("1st element =", my_list[0])
print("last element =", my_list[3])

1st element = 1
last element = 4

In [6]:
print(my_list + my_list2)
print(my_list *2)
print(my_list *3)
print(my_list *5)
print(my_list)

[1, 2, 9, 4, -4, -2, 0, 2, 4, 6, 8]
[1, 2, 9, 4, 1, 2, 9, 4]
[1, 2, 9, 4, 1, 2, 9, 4, 1, 2, 9, 4]
[1, 2, 9, 4, 1, 2, 9, 4, 1, 2, 9, 4, 1, 2, 9, 4, 1, 2, 9, 4]
[1, 2, 9, 4]

In [7]:
del my_list[0]; print(my_list)
my_list.append(99); print(my_list)
my_list.insert(1, 100); print(my_list)

[2, 9, 4]
[2, 9, 4, 99]
[2, 100, 9, 4, 99]

In [8]:
my_list.sort(); print(my_list)
my_list.reverse(); print(my_list)

[2, 4, 9, 99, 100]
[100, 99, 9, 4, 2]

In [9]:
my_list4 = ['1','70','21','100']
y = my_list4.sort()
print(my_list4)
print(y)

['1', '100', '21', '70']
None

In [11]:
my_list3 = ['cats', 'SHEEP','DOGS','dogs','horses']
print(sorted(my_list3))
print(sorted(my_list3, reverse=True))
print(my_list3)

['DOGS', 'SHEEP', 'cats', 'dogs', 'horses']
['horses', 'dogs', 'cats', 'SHEEP', 'DOGS']
['cats', 'SHEEP', 'DOGS', 'dogs', 'horses']

In [13]:
print('{}'.format(my_list3.sort()))

None

In [14]:
sorted(my_list3, key=str.lower)

['cats', 'DOGS', 'dogs', 'horses', 'SHEEP']

In [15]:
my_tup=(1,'two',3)
print(my_tup)
my_tuple = 1, 2, 'three'
print(my_tuple)
my_empty_tuple = ()
print(my_empty_tuple)

(1, 'two', 3)
(1, 2, 'three')
()

In [16]:
tup1 = (50,);
print(tup1)
type(tup1)

(50,)

tuple

In [17]:
tup2 = (50, 23)
print(type(tup2))
tup2 = 50,
type(tup2)

<class 'tuple'>

tuple

In [21]:
tup = ('physics', 'chemistry', 1997, 2000 )
print(tup)

('physics', 'chemistry', 1997, 2000)

In [19]:
my_tup = (2, 8, 3, 1 )
print(my_tup)
a,b,c,d = my_tup
print(a, b, c, d)

(2, 8, 3, 1)
2 8 3 1

In [20]:
print(my_tup[0])

2

In [23]:
dum = ('1861-10-23', ['poetry', 'pretend-fight'])
dee = ('1861-10-23', ['poetry', 'pretend-fight'])
print(dum == dee)
print(dum is dee)
id(dum), id(dee)

True
False

(139541270384704, 139541272024512)

In [24]:
t_doom = dum
print(dum, t_doom)
print(t_doom == dum)
print(t_doom is dum)
id(t_doom), id(dum)

('1861-10-23', ['poetry', 'pretend-fight']) ('1861-10-23', ['poetry', 'pretend-fight'])
True
True

(139541270384704, 139541270384704)

In [25]:
skills = t_doom[1]
print(skills)
skills.append('rap')
print(t_doom)

['poetry', 'pretend-fight']
('1861-10-23', ['poetry', 'pretend-fight', 'rap'])

In [26]:
print(dum == dee)
print(dum)

False
('1861-10-23', ['poetry', 'pretend-fight', 'rap'])

In [27]:
dob = t_doom[0]
print(dob)
print(type(dob))
dob = '19June'
print(dob)
t_doom

1861-10-23
<class 'str'>
19June

('1861-10-23', ['poetry', 'pretend-fight', 'rap'])

In [28]:
t_doom

('1861-10-23', ['poetry', 'pretend-fight', 'rap'])